.title {
	margin: 0;
	margin-block-end: 16px;
	font-weight: 400;
	font-size: 32px;
	line-height: 1.25;
	color: rgba(0, 0, 0, 0.87);
}

.lable {
	margin: 0;
	padding: 7px 10px;
	background-color: #2196f3;
	border-radius: 100px;
	font-size: 13px;
	line-height: 1.38;
	letter-spacing: 0.16px;
	color: #fff;
}

.text {
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.17px;
	color: #4f4f4f;
}

.topic {
	padding: 3px 10px;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 100px;
}
